# General --->
.env
.env.local
.env.*.local
*.log
.DS_Store
node_modules/
dist/
build/
*.tmp
~$*.docx

# Web (React.js) --->
web/.next/
web/out/
web/.vercel/
web/.yarn
web/yarn.lock
web/.pnp.*
web/.pnp.js
web/.pnp.cjs
web/.env
web/*.env

#  Mobile (Flutter) --->
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/.env
mobile/*.env

# Backend (Node/Prisma) --->
backend/node_modules/
backend/dist/
backend/prisma/*.db
backend/prisma/*.db-journal

# IDEs --->
.vscode/
.idea/
*.swp
*.bak