NODE_ENV=development
PORT=3001
API_PREFIX=/api/v1

DATABASE_URL=postgresql://postgres.ozkombxvevtgflninbcr:grupo04CEJL@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
REDIS_URL="rediss://default:gQAAAAAAAiDZAAIgcDEyN2U1ZDkyY2JlNWU0NWFkYjc1ZWUxNmM4NDZjN2I4Yg@wealthy-trout-139481.upstash.io:6379"

JWT_ACCESS_SECRET=f9c3a217656776259215762e6c8d322b23fc1ff949d11960464a1089d3d0f202f464467b2b46767974f928e2b8cb19a4b4c803b69b93d0d88c88d7d9803f0dfa
JWT_REFRESH_SECRET=ee606cc0f6d2bf62fc57eb2949ff2564fb551730aa776966e84179db9a0e904db91a4bacc66a9eecc5c4952c8f6b439d4a3516a29e5c90e1bc2515503fa67c06
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30

CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8080

S3_REGION=eu-central-1
S3_ENDPOINT=https://ozkombxvevtgflninbcr.storage.supabase.co/storage/v1/s3
S3_BUCKET=economia-historia
S3_ACCESS_KEY_ID=63a6721715de1e236ddf5a28a684523e
S3_SECRET_ACCESS_KEY=0fa9eb1da7afcd9087ecd8e4ecb6fc817b1170142c79ec1fd95c2ef6abea6bc6
S3_PUBLIC_BASE_URL=https://ozkombxvevtgflninbcr.supabase.co/storage/v1/object/public/economia-historia

RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=120

# IA de quizzes (Gemini)
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
